.todolist {
  padding: 20px 20px 10px 20px;
  width: 600px;
  margin: 30px auto;
}

.todolist h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.right-button {
  float: right;
}

.list-item {
  display: inline-block;
}
